.cart_container{
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    /* margin: 20px 60px 0 0; */
}
.cart_container img{
    width: 100% !important;
    margin-left: 20px;
    height: auto !important;
}
 
.cart_items{
    padding: 20px; 
}
.cart_items img{
    width: 100% !important;
}
.cart_items div{
    height: auto !important;
}
.cart_items h2,
.cart_items h3{
    padding: 10px;
}
.cart_items hr{
    margin: 10px;
}

.cart_total{
    /* margin-top: 80px; */
    padding: 20px;
    min-width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid rgb(193, 193, 193);
    background-color: rgb(242, 241, 241);
    border-radius: 5px;
}
.cart_total a{
    text-align: center;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}
.cart_total a:hover{
    background-color: var(--primary-shade);
}
.cart_total > div,
.cart_total span{
    display: flex;
    gap: 20px;
}
.cart_product{
    height: 250px;
    display: flex;
    gap: 10px;
}
.cart_product div{
    height: auto !important;
}
.cart_product img{
    width: 100% !important;
}
.btn_container{
     height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btn_container span{
    /* padding-left: 12px; */
}
.btn{
    /* width: 40px; */
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: black;

}
.btn:hover svg{
    background-color: var(--primary-color);
    color: white;
}
.item_arrow{
    display: flex;
    gap: 5px;
    margin-left: 5px;
}


@media screen and (max-width: 968px){
    .cart_container{
        flex-direction: column;
        order: 1;
    }
    .cart_container img{
        margin-left: 0;
    }
     
    
}
