/* category container style */
  .category_container {
    position: relative;
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;  
    gap: 20px;  
  } 
 /* Cards style */
  .category_card {
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  } 
  
  /* Image Styling */
   .category_card img {
    width: 100%;
    max-height: 15.6rem;
    object-fit: contain;
    padding: 0px 10px;
    border-radius: 4px;
  } 

  .title {
    font-size: 1.25rem;  
    margin-bottom: 10px;  
  }

  .category_card p {
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--my-blue);
  }

  .category_card{
    width: 100%;
  }

  /* Responsive Design */
  
  /* Medium Screens: 2 columns */
   @media (min-width: 678px) and (max-width: 1024px) {
    .category_card {
      width: calc(50% - 20px); /* Two columns */
     }
  } 
  
  /* Wide Screens: 4 columns */
   @media (min-width: 1025px) and ( max-width: 1440px) {
    .category_card {
      width: 270px;  
     }
  
    .category_container {
      justify-content: space-around;
    }
  } 


  