 .lower_header {
  /* position: sticky;
  top: 0; */
  /* z-index: 1000; */
  background-color: #232f3e;
  
  color: white;
}

.nav_list {
  display: flex;
  gap: 5px;
  list-style: none;
  padding: 0;  
}

.nav_list li {
  padding: 10px;
  cursor: pointer;
}

.nav_list li:hover {
  border: 1px solid white;
  border-radius: 5px;
}

.nav_list li:first-child {
  display: flex;
  gap: 5px;
  align-items: center;
} 

  