.outer_wrapper{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}


.header_container {
    /* position: fixed;
    top: 0;
    width: 100%; */
    
    background-color: #1a1a1a;
    display: flex;
    gap: 30px;
    align-items: center;
    color: white;
    height: 50px;
  }
  
  .logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
  }
  
  .logo_container img {
    width: 80%;
    padding-top: 5px;
    margin-left: 20px;
    vertical-align: middle;
  } 
  
  
  
    .delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    padding: 5px;
  } 
  
  
  
  .delivery p {
    font-size: 0.62rem;
  } 
   
  
   .search {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    overflow: hidden;
    width: 100%;
    flex: 1;
    margin-left: -10px;
    margin-right: 10px;
  } 
  
   
  
  .search select,
  .search input {
    padding: 6px;
    height: 43px;
    font-weight: bold;
    outline: 1px solid white;
  }
  
  .search select {
    border: none; 
    background-color: grey;
  } 
  
   
  
  .search input {
    border: 1px solid white;
    width: 100%;
    margin-right: -2px; 
    background-color: white;
    color: #1a1a1a;
  }
  .search svg {
    padding: 7px;
    background: #febd69;
    color: #1a1a1a;
    height: 45px;
  } 
  .search:focus-within {
    border: 2px solid rgb(235, 161, 126);   
  }
  
  .order_container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    gap: 10px;
    margin-right: 20px;
  }
  
  .order_container a {
    text-decoration: none;
    color: white;
  }
  
  .order_container p {
    font-size: 0.62rem;
  }
  
  .language{
    width: 80px;
    display: flex;
    padding: 10px;
  }
  
  .language select {
    background-color: #1a1a1a;
    border: none;
    color: white;
  } 
  
  .language img {
    width: 40%;
  }

  .cart{
    position: relative;
    padding-right: 5px;
    margin-right: 5px;

  }
  .cart span{
    position: absolute;
    font-weight: bold;
    font-size: 1.25rem;
    top: 0;
    background-color: #1a1a1a;
    left: 16px;

    color: orange;
     
  }
  .order_container a:hover, 
  .logo_container a:hover,
  .delivery:hover{
     border: 1px solid white;
        border-radius: 5px;
    
  }
  @media (max-width: 768px) {
    .header_container {
      display: flex;
      flex-direction: column !important;
      height: auto;
    }


    /* Lower Header styles */

    .lower_header ul li:not (:first-child) {
      display: none;
    }
    .language {
      display: none;
    }
  }


  .lower_header {
     
    
    background-color: #232f3e;
     
    color: white;
  }
  
  .nav_list {
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 0;  
  }
  
  .nav_list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .nav_list li:hover {
    border: 1px solid white;
    border-radius: 5px;
  }
  
  .nav_list li:first-child {
    display: flex;
    gap: 5px;
    align-items: center;
  } 
  
    