.hero_img{
    position: relative;

}
.carousel_image{
    height: 200px;
}
.hero_img::before{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 200px;
}

@media ( min-width: 768px) and (max-width: 1023px) {
    .carousel_image{
        height: 300px;
    }
    
}
@media ( min-width: 1024px) and (max-width: 1439px) {
    .carousel_image{
        height: 400px;
    }
    .hero_img::before{
        background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255)
        );
    }
}